<% layout("/layouts/boilerplate") %>

<%- include("../includes/searchbar.ejs") %>

<style>
  a{
    text-decoration: none;
  }

  .card-title{
    color: rgba(0, 0, 0, 0.714);
  }
  .card-text{
    color: rgba(48, 46, 46, 0.583);
  }
</style>
<div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">
      <% packages.forEach(package => { %>
        <div class="col">
          <div class="card">
           <a href="/package/<%= package._id %>"> <img src="<%= package.image %>" width="150px" height="250px" class="card-img-top" alt="Image of <%= package.name %>">
            <div class="card-body">
              <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= package.package_name %></h5><br>
              <h6 class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= package.destinations %></h6><br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a href="/package/<%= package._id %>" class="btn btn-outline-primary">Find itenary</a>
            </div>
          </a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>